PORT= 8000
MONGBD_URI = mongodb+srv://Dineshsuthar:your-password@cluster0.trwoa9m.mongodb.net
CORS_ORIGIN =*
ACCESS_TOKEN_SECRET=chai-or-code
ACCESS_TOKEN_EXPIRY=1d
REFERSH_TOKEN_SECRET=chai-or-backend
REFERSH_TOKEN_EXPIRY=10d